<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<form id="findFriend">
  <label for="fmail">Your friend email:</label>
  <input type="email" name="fmail" required="required">
  <input type="submit" value="Add" name="add">
</form>
<table class="table">
  <thead>
    <tr>
      <th colspan="2">Friend</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
     <% for friendship in current_user.friendships %>
      <tr>
        <td><%= image_tag friendship.friend.avatar.url(:thumb) %></td>
        <td><%= friendship.friend.name %></td>
        <td><%= link_to "Un Friend", friendship, :method => :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>

      
    <% end %>
  </tbody>
</table>

<br>
